*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
}

header{
    background:#007bff;
    color:white;
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#f4f4f4;
}

.hero h1{
    font-size:3rem;
}

.hero span{
    color:#007bff;
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#007bff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

section{
    padding:60px 20px;
    text-align:center;
}

.skill-box{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.skill-box div{
    background:#007bff;
    color:white;
    padding:10px 20px;
    border-radius:5px;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}